In [29]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
data_df = pd.read_csv('test.csv')
target_encoder = LabelEncoder()
target_encoder.fit(data_df['Activity'])

LabelEncoder()

In [30]:
print(target_encoder.classes_)

['LAYING' 'SITTING' 'STANDING' 'WALKING' 'WALKING_DOWNSTAIRS'
 'WALKING_UPSTAIRS']

In [31]:
lb_target = target_encoder.transform(data_df['Activity'])

In [32]:
lb_target

array([2, 2, 2, ..., 5, 5, 5])

In [33]:
lb_target = pd.DataFrame(lb_target)
data_df = data_df.drop(['Activity'],axis=1)

In [34]:
lb_target

      0
0     2
1     2
2     2
3     2
4     2
...  ..
2942  5
2943  5
2944  5
2945  5
2946  5

[2947 rows x 1 columns]

In [36]:
y_train

      0
1734  1
216   0
1636  4
195   1
713   3
...  ..
2897  4
2859  3
1599  0
1442  0
2764  2

[2357 rows x 1 columns]

For GradientBoostingClassifier, OHE is not working. You need 1D array. (But one hot encoding can't be 1D array)

In [37]:
from sklearn.ensemble import GradientBoostingClassifier
import time
import warnings
warnings.filterwarnings('ignore')

start_time = time.time()

gb_clf = GradientBoostingClassifier(random_state=1)
gb_clf.fit(X_train,y_train)
gb_pred = gb_clf.predict(X_test)
gb_accuracy = accuracy_score(y_test,gb_pred)

print('GBM 정확도:{0:4f}'.format(gb_accuracy))
print('GBM 수행시간:{0:.1f} 초'.format(time.time()-start_time))

GBM 정확도:0.991525
GBM 수행시간:157.0 초

In [40]:
from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators' : [100,500],
    'learning_rate' : [0.05,0.1]
}

grid_cv=GridSearchCV(gb_clf,param_grid=params,cv=2,verbose=1)
grid_cv.fit(X_train,y_train)
print('Best hyper parameter:\n',grid_cv.best_params_)
print('Best accuracy:{0:.4f}'.format(grid_cv.best_score_))

Fitting 2 folds for each of 4 candidates, totalling 8 fits
Best hyper parameter:
 {'learning_rate': 0.1, 'n_estimators': 500}
Best accuracy:0.9805

LabelBinarizer()

LabelBinarizer()

LabelBinarizer()

LabelBinarizer()